@model List<Comment>
@{
    ViewData["Title"] = "AnsweredComments";
}

<!-- Start content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Manage Answered  Comments</h4>
                   
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-sm-6">
                @if (ViewData.ModelState.ContainsKey("Success"))
                {
                    <div class="alert alert-success">@ViewData.ModelState["Success"].Errors.FirstOrDefault().ErrorMessage</div>

                }
                @if (ViewData.ModelState.ContainsKey("Error"))
                {
                    <div class="alert alert-danger  ">@ViewData.ModelState["Error"].Errors.FirstOrDefault().ErrorMessage</div>

                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="demo-box m-t-20">
                        <div class="table-responsive">
                            <table class="table m-0 table-colored-bordered table-bordered-primary">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email Id</th>
                                        <th width="300">Comment</th>
                                        <th>Status</th>
                                        <th>Post / News</th>
                                        <th>Posting Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                               @foreach (var item in Model)
                                {
                                    var i = 1;
                                    <tbody>
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@item.Title</td>
                                            <td>@item.AppUser.Email</td>
                                            <td>@item.Description</td>
                                            <td>@item.Status</td>

                                            <td><a href="./edit-post.html">PostTitle</a></td>
                                            <td>@item.CreateTime</td>
                                            <td>
                                               
                                                &nbsp;<a asp-action="Delete" asp-route-id="@item.Id">
                                                    <i class="fa fa-trash"
                                                       style="color: #f05050"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    i++;
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--- end row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="demo-box m-t-20">
                        <div class="m-b-30"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
    </div>
    <!-- content -->

