@model UserVM
@{
    ViewData["Title"] = "Manage";
}

<div class="conatiner">
    @if (ViewData.ModelState.ContainsKey("PasswordError"))
    {
        <div class="alert alert-danger">@ViewData.ModelState["PasswordError"].Errors.FirstOrDefault().ErrorMessage</div>

    }
    <form method="post" asp-action="Manage" asp-controller="User" class="form-container mx-auto shadow-container"
          id="myForm"
          style="width: 80%">
        <h3 class="mb-3 p-2 text-center">Edit User @Model.Username</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="username">Enter Username</label>
                    <input type="text"
                           asp-for="@Model.Username"
                           class="form-control"
                           value="@Model.Username" required />
                    <span></span>
                </div>
                <div class="form-group">
                    <label for="firstname">Enter First Name</label>
                    <input type="text"
                           asp-for="@Model.Firstname"
                           class="form-control"
                          
                           value="@Model.Firstname"
                           required />
                    <span></span>
                </div>
                <div class="form-group">
                    <label for="lastname">Enter Last Name</label>
                    <input type="text"
                           asp-for="@Model.Lastname"
                           class="form-control"
                           value="@Model.Lastname" required />
                    <span></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email"
                           asp-for="@Model.Email"
                           class="form-control"
                           
                           placeholder="email"
                           value="@Model.Email" required />
                    <span></span>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="number"
                           asp-for="@Model.Phone
"
                           class="form-control"
                           
                           placeholder="Phone"
                           value="@Model.Phone" required />
                    <span></span>
                </div>
               
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                           asp-for="@Model.Password"
                           class="form-control"
                           placeholder="Password" />
                    <span></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea 
                      asp-for="@Model.Adress"
                      type="text"
                      style="height: 70px"
                      class="form-control"></textarea>
            <span></span>
        </div>
        <button type="submit" asp-route-id="@Model.Id" class="btn btn-success">Make Changes</button>
        <a asp-action="List" class="btn btn-secondary">Back</a>
    </form>
</div>

