@model EditRestaurantVM
@{
    ViewData["Title"] = "Manage";
}

<div class="conatiner">
    <form method="post" asp-action="Manage" class="form-container mx-auto shadow-container"
          style="width: 90%"
          enctype="multipart/form-data">
        <h3 class="mb-3 p-2 text-center mb-3">Edit "Store name" Details</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Restaurant Name</label>
                    <input type="text"
                           asp-for="@Model.Restaurant.Name"
                           class="form-control"
                           placeholder="Add restaurant name"
                           value="@Model.Restaurant.Name" />
                </div>
               
                <div class="form-group">
                    <label class="control-label">Bussiness E-mail</label>
                    <input type="text"
                           asp-for="@Model.Restaurant.Email"
                           class="form-control form-control-danger"
                           placeholder="example@gmail.com"
                           value="@Model.Restaurant.Email" />
                </div>
                <div class="form-group">
                    <label class="control-label">Phone</label>
                    <input type="text"
                           asp-for="@Model.Restaurant.Contact"
                           class="form-control"
                           placeholder="phone no"
                           value="@Model.Restaurant.Contact" />
                </div>
                <div class="form-group">
                    <label class="control-label">Website URL</label>
                    <input type="text"
                           asp-for="@Model.Restaurant.URL"
                           class="form-control form-control-danger"
                           placeholder=" http://example.com"
                           value="@Model.Restaurant.URL" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Opening Time</label>
                    <select asp-for="@Model.Restaurant.OpeningTime"
                            class="form-control"
                            data-placeholder="Choose a Category" required>
                        <option value="">--Select your Hours--</option>
                        
                        <option value="8am">8am</option>
                        <option value="9am">9am</option>
                        <option value="10am">10am</option>
                        <option value="11am">11am</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Closing Time</label>
                    <select asp-for="@Model.Restaurant.ClosingTime"
                            class="form-control"
                            data-placeholder="Choose a Category" required>
                        <option value="">--Select your Hours--</option>
                        <option value="6pm">6pm</option>
                        <option value="7pm">7pm</option>
                        <option value="8pm">8pm</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Open Days</label>
                    <select asp-for="@Model.Restaurant.OenDays"
                            class="form-control"
                            data-placeholder="Choose a Category"
                            tabindex="1" required>
                        <option value="">--Select your Days--</option>
                        <option value="mon-fri">mon-fri</option>
                        <option value="mon-sat">mon-sat</option>
                        <option value="24hr-x7">24hr-x7</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group has-danger">
                    <label for="image">Image</label>
                    <input type="file" asp-for="@Model.Restaurant.Photo" class="form-control" />
                    @if (ViewData.ModelState.ContainsKey("Photo"))
                    {
                        <span class="text-danger">@ViewData.ModelState["Photo"].Errors.FirstOrDefault().ErrorMessage</span>
                    }
                    @* <img class="mt-1"
                         src="~/assets/imgs/uploads/restaurant/thumb/hlmg.jpg " />
                    <img width="300" src="~/assets/imgs/uploads/no-image.png" />*@
                </div>
                <div class="form-group">
                    <label class="control-label">Select Category</label>
                    <select asp-for="@Model.CategoryId" class="form-control">
                        <option value="">--Select Category--</option>
                        @foreach (var item in Model.Categories)
                        {
                            if(item.Name == Model.Restaurant.Category.Name)
                            {
                                <option selected value="@item.Id">@item.Name</option>
                            }
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <h3 class="box-title m-t-40">Address</h3>
                <div class="form-group">
                    <textarea asp-for="@Model.Restaurant.Adress"
                              type="text"
                              style="height: 70px"
                              class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit"
                   asp-route-Id="@Model.Restaurant.Id"
                   class="btn btn-success"
                   value="Make Changes" />
            <a asp-controller="List" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

